html{
    scroll-behavior: smooth;
}
.bg-teal ,.btn-teal{
    background-color:rgb(41, 94, 94) !important ;
}

.text-teal{
    color:rgb(49, 107, 107) !important
}

.carousel-caption{
    margin-bottom: 100px;
}

@media (max-width:576px) {
    .carousel-caption{
       margin-bottom: 10px;
    }
    .carousel-caption h5{
        font-size: 30px;
    }
    .carousel-caption p{
        display: none;
    }
}